# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Tooling files
.vscode
.mypy_cache

# Snyk plugin files
.dccache

# Stunt GP files

*.pc
*.dc
*.ps2
*.png
*.jpg
*.PMD
*.wad
*.dir
wads/*
meshdata/*
out/*

**/__pycache__/*

