[Desktop Entry]
Encoding=UTF-8
Icon=arrow-up
Type=Service
ServiceTypes=KPluginInfo

Name=Stunt GP .pc file header
Comment=Structure of .pc file header

X-KDE-PluginInfo-Author=Piotr Halama
X-KDE-PluginInfo-Email=skrzynka@halamix2.pl
X-KDE-PluginInfo-Name=sgppcdfile
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://halamix2.pl/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
