[Desktop Entry]
Encoding=UTF-8
Icon=arrow-up
Type=Service
ServiceTypes=KPluginInfo

Name=Stunt GP .cfg file header
Comment=Structure of .cfg file header

X-KDE-PluginInfo-Author=Piotr Halama
X-KDE-PluginInfo-Email=skrzynka@halamix2.pl
X-KDE-PluginInfo-Name=sgpconfigfile
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://halamix2.pl/
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
